<nav>
  <div class="logo">
    <a href="/">Employee Management System</a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    {{#if user}}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    {{else}}
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
    {{/if}}
  </ul>
</nav>